  
<div class="container"> 
    <section class="section section--vesi">
      <h2 class="section__title">
          CountVectorizer
      </h2>
      <div class="toggle-button toggle-button--vesi">
          <input id="toggleButton5" type="checkbox"> 
          <label for="toggleButton5" data-on-text="Selected" data-off-text="Select"></label>
          <div class="toggle-button__icon"></div>
      </div>
    </section>

  <section class="section section--aava">
      <h2 class="section__title">
          TF-IDF
      </h2>
      <div class="toggle-button toggle-button--aava">
          <input id="toggleButton" type="checkbox">
          <label for="toggleButton" data-on-text="Selected" data-off-text="Select"></label>
          <div class="toggle-button__icon"></div>
      </div>
  </section>    
</div>



