.tp-h2 {
    margin: 10px;
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
 }
 .tp-margin {
    margin: 0 10px;
 }

 /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }